@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>View a list of @Html.ActionLink("Products", "Index", new { controller = "Products" }).</p>
    <p>or search for specific ones @Html.ActionLink("Here", "SearchForm", new { controller = "Products" }).</p>
</div>
